$color-text-primary: white;
$color-text-secondary: grey;
$color-bright: yellowgreen;
$color-dark: darkgrey;
$splitpoint: 500px;

* {
  box-sizing: border-box;
}

.tennis {
  border: 1px solid black;
}

.wrapper {
  * {
    display: flex;
  }
  max-width: 650px;
  border: 1px solid red;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.set-titles,
.player-a,
.player-b {
  display: flex;
  flex-flow: row;

  > * {
    display: flex;
    border: 1px solid yellowgreen;
    margin: 10px;
    align-items: center;
    flex-shrink: 0;
  }
  & > div:first-of-type {
    width: 200px;
    justify-content: center;
    align-items: flex-end;
  }
}

.player-a,
.player-b {
  & > div:not(:nth-of-type(1)):not(:nth-of-type(2)) {
    justify-content: center;
    width: 70px;
    height: 70px;
  }
}

.set-titles {
  & > div:not(:nth-of-type(1)):not(:nth-of-type(2)) {
    justify-content: center;
    width: 70px;
    height: 50px;
    align-items: flex-start;
  }
}

.empty,
.serving-circle-container {
  width: 10px;
  color: $color-bright;
}

.player-a,
.player-b {
  & > div:first-of-type {
    flex-flow: column
  }
}

@media (max-width: $splitpoint) {
  .wrapper {
    flex-flow: row;
    justify-content:center;
  }
  .wrapper > * {
    flex-flow: column wrap;
    & > div:first-of-type {
      width: 70px;
      font-size: 20px;
    }
  }

  .set-titles {
    order: 1;
  }
  .player-a {
    order: 0;
  }
  .player-b {
    order: 2;
  }

  .player-a,
  .player-b {
      text-align: center;
      justify-content: center;
    > div:first-of-type {
      align-self: flex-start;
    }

  }

  .empty,
  .serving-circle-container,
  .set-titles > div:first-of-type {
    display: none;
  }

  .set-titles, .player-b {
    justify-content: flex-end;
  }

  .set-titles,
  .player-a,
  .player-b {
    & div:first-of-type {
      align-items: center;
    }
  }

  .set-titles {
    & > div:not(:nth-of-type(1)):not(:nth-of-type(2)) {
      height: 70px;
      align-items: center;
    }
  }

  .hide {
    display: none;
  }


  .status {
    display: flex;
    justify-content: center;
  }


}

.player-a,
.player-b,
.set-titles {
  > * {
    position: relative;
  }
}

.won:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent $color-bright transparent transparent;
}

.active {
  background-color: $color-bright;
}

.active-set {
  color: $color-bright;
  display: flex;
  flex-flow: row wrap;
}

button {
  width: 100%;
  background-color: black;
  color: $color-text-primary;
  padding: 10px 0;
  @media(min-width: $splitpoint) {
    display: none;
  }
}

